#app3 {
  position: relative;
}

#app3 #rectangle {
  height: 50px;
  width: 100px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 10px;
  transition: transform 0.8s ease-in-out;
}

#app3 #rectangle.active {
  transform: translateX(15vw);
} 